pytest
pyyaml
numpy
matplotlib
# scipy<1.13.0; python_version<"3.10"
scipy<1.13.0    # TODO remove this after seislib releases new version
tqdm
cython
scikit-build-core
cibuildwheel==2.10.0
versioningit==2.1.0
stdlib_list==0.8.0
pytest-json-report==1.5.0
