numpy
scipy
matplotlib
scikit-build-core
copier
copier-templates-extensions
pytest
pyyaml
sphinx-book-theme
sphinx-design
sphinx-togglebutton
sphinx-gallery
sphinx-copybutton
sphinxcontrib-mermaid
myst-nb
pypandoc
versioningit
stdlib_list
pytest-json-report
tqdm
tomlkit