numpy>=1.20
scipy>=1.0.0
black
sphinx
matplotlib
cython
pybind11
scikit-build
pytest
cibuildwheel
pyyaml
sphinx-book-theme
sphinx-panels
sphinx-togglebutton
sphinx-gallery
pypandoc
myst-nb
sphinxcontrib-mermaid
sphinx-copybutton
versioningit==2.1.0
