name: Update pacakge source at esp_build branch

on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - 'contrib/**'
      - 'src/**'
      - 'docs/**'
      - 'setup.py'
      - 'pyproject.toml'
      - 'CHANGELOG.md'
      - '!src/espresso/version.py'

jobs:
  ######################## GENERATE PACKAGE SOURCE #####################
  gen_pkg_source:
    if: github.repository_owner == 'inlab-geo' && ${{ !contains(github.event.head_commit.message, 'release') }}
    name: Generate package source
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get tags
        run: |
          git fetch --tags origin
          git describe

      - name: Install Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install -r envs/requirements_test.txt
          python -m pip install .
      
      - name: Build with pre and post validation
        run: |
          python espresso_machine/build_package/build.py --validate
      
      - name: Deploy to esp_build branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: esp_build
          FOLDER: _esp_build
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
